VEDA-Qt-BANK\build\
VEDA-Qt-BANK\CMakeLists.txt.user
/VEDA-Qt-BANK/build
/VEDA-Qt-BANK/build/Desktop_Qt_6_9_0_llvm_mingw_64_bit-Debug
/VEDA-Qt-BANK/build/Desktop_Qt_6_9_0_llvm_mingw_64_bit-Debug/.qt
build
.vscode